@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    color: #f9faf8;
}

.bluebody, footer {
    background-color: #1F2937;
}
 section.img-slider {
    display: flex;
 }

 .image-slider {
    position: absolute;
    width: 400px;
    height: 300px;
    left: 600px;
    overflow: hidden;
    margin-left: 350px;
 }

 .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    animation: slide 16s infinite;
 }

 @keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

section div h1 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 10px;
}

section div p {
    font-size: 18px;
    color: #e5e7eb;
    width: 400px;
}
/*
header {
    padding: 0 2em;
}
*/

.hero-header {
    display: flex;
    width: 100%;
    padding: 2em 0;
}

.psc-logo {
    height: 80px;
    width: 80px;
    border-radius: 20%;
    mix-blend-mode: multiply;
    margin-left: 5rem;
}

.nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ececf7;
}

ul {
    display: flex;
    list-style: none;
    justify-content: end;
    align-items: center;
    padding: 2em 4em;
}

ul li {
    padding: 0 1em;
}

ul li a {
    text-decoration: none;
    color: #1F2937
}

ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.introduction {
    padding: 2em 6rem;
}

.intro-pic {
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.sign-up1 {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 1em;
}



.info-grid {
    display: flex;
}

.info-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.information {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
}

.information h2 {
    color: #1F2937;
}

.info-item-pic {
    height: 80px;
    width: 80px;
    border: 1px solid #1F2937;
    border-radius: 10px;
}

.pic-description {
    color: #1F2937;
    font-size: 12px;
}
 
.quotes {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
}

.quotes p {
    color: #1F2937;
}

.message {
    font-style: italic;
}

.author {
    padding-left: 20rem;
    font-weight: bold;
}

.contact {
    width: 600px;
    margin: 2rem auto;
    border-radius: 10px;
    background-color: #3882f6;
    padding: 1rem 2rem;
    
}

.sign-up2 {
    background-color: #3882f6;
    color: #f9faf8;
    border: 1px solid #f9faf8;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-left: 1rem;
}

.bot-signup {
    display: flex;
    align-items: center;
}

footer {
    padding: 2rem;
    text-align: center;
}
